@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

@layer components {
  .blog {
    @apply bg-white px-4;
  }
}

.backgroundImage {
  background-image: url('/images/milad-fakurian-HE1_K4_-QT8-unsplash.jpg');
}

.blog h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 40px 0 20px;
  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 5px;
}

.blog h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 40px 0 16px;
  border-bottom: 1px solid #ddd;
}
.blog h3 {
  font-size: 1.17rem;
}
 .blog code {
  color: #ff357f;
  display: inline-block;
}
.blog pre {
  background-color: #23241f;
  color: #ddd;
  overflow: auto;
}
.blog p {
  line-height: 1.8;
  letter-spacing: 0.2px;
}
.blog ol {
  list-style-type: decimal;
  list-style-position: inside;
}
.blog ul {
  padding-left: 1.5em;
}
.blog span {
  color: rgb(162, 60, 132);
}